*,body {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: sans-serif;
}
.main-container {
	padding-top: 13px;
}
.main-container .inner-container{
	margin: 0 auto;
	max-width: 732px;
}
.main-container .inner-container header {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: 1fr;
	grid-gap: 42px;
	margin-bottom: 85px;
}
@media (min-width: 320px) and (max-width: 767px){
	.main-container .inner-container header{
		grid-template-rows: 1fr 1fr;
   	 	grid-gap: 10px;
    	margin-bottom:0px;
		grid-template-columns: 1fr;
		padding:20px;
	}
}
@media (min-width: 320px) and (max-width: 767px){
	.main-container .inner-container .right{
		
		display: grid;
    	grid-template-columns: 1fr 1fr;
    	grid-template-rows: 1fr;
	}
	.main-container .inner-container .right img{
		justify-self: left;
	}
	.main-container .inner-container .right .bars {
		justify-self: right;
		font-size: ;
		display:block;
	}
}
.main-container .inner-container .right .bars{
	display: none;
}
@media (min-width: 320px) and (max-width: 767px){
	.main-container .inner-container .right .bars{
		display: block;
	}
}
.main-container .inner-container .left {
    padding-top: 12px;
}
.main-container .inner-container .left img {
	margin-bottom: 8px;
	width: 270px;
	}
@media (min-width: 320px) and (max-width: 767px){
	.main-container .inner-container .left{
		text-align: center;
	}
}
.main-container .inner-container header .left  ul.menu{
	background-color: orange;
	line-height: 30px;
	display: inline-block;
    width: 100%;

}
@media (min-width: 320px) and (max-width: 767px){
	.main-container .inner-container header .left  ul.menu{
		display: none;
	}

}
.main-container .inner-container header .left ul.menu li{
	list-style: none;
	display: inline-block;
	margin-right: 86px;
	
}
.main-container .inner-container header .left ul.menu li:first-child{
	padding-left:10px;
}
.main-container .inner-container header .left ul.menu li a {
	text-decoration: none;
	color: white;
}
.main-container .inner-container header .left ul.menu li:last-child {
	margin-right: 0px;
}
.main-container .inner-container .content {
	margin-bottom: 30px;
}
.main-container .inner-container .content .paragraph{
	margin-bottom: 52px;
}

.main-container .inner-container .content .paragraph p{
	font-size:14px;
}
@media (min-width: 320px) and (max-width: 767px){
	.main-container .inner-container .content .paragraph{
		padding: 20px;	
	}
	.main-container .inner-container .content .paragraph p{
		text-align: justify;
		font-size: 12px;
	}
}
.main-container .inner-container .content .paragraph h1{
	margin-bottom: 30px;
	font-size:21px;
}
.main-container .inner-container .content .image{
	text-align: center;
}
.main-container .inner-container .content .image .first{
	margin-bottom: 47px;
}
@media (min-width: 320px) and (max-width: 767px){
	.main-container .inner-container .content .image .first img{
		width: 100%;
	}
}
.main-container .inner-container .content .image .second{
	margin-bottom: 99px;
}
.main-container footer {
	background-image: url("images/footer.png");
	background-size: cover;
	height: 107px;
	padding-top:20px;
}

/* .main-container footer{
	margin-bottom: 40px;
} */
.main-container footer .inner-container .footer-menu ul{
	text-align: center;
	margin-bottom: 4px;
}
@media (min-width: 320px) and (max-width: 767px){
	.main-container footer .inner-container .footer-menu{
		margin-bottom: 20px;
	}
	.main-container footer{
		background-size:cover;
		height: 307px;
		
	}
}
.main-container footer .inner-container .footer-menu ul li{
	display: inline-block;
	border-right: 1px solid black;
	
}
.main-container footer .inner-container .footer-menu ul li a{
	text-decoration: none;
	color: orange;
	font-size: 14px;
	font-size:12px;
}

.main-container footer .inner-container .footer-paragraph p{
	text-align: center;
	font-size:12px;
}
@media (min-width: 320px) and (max-width: 767px){
	.main-container footer .inner-container .footer-menu ul li{
		display: block;
		border-bottom: 1px solid black;
		border-right: none;
	}
}